name: Release - handle

on:
  workflow_dispatch:
    inputs:
      sha:
        description: "The commit SHA to prepare the release for"
        required: false
        type: string
  push:
    branches:
      - main
      - release/*
    paths:
      - "lib/version.rb"

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    name: run
    runs-on: ubuntu-latest
    container: discourse/discourse_test:slim
    timeout-minutes: 10

    steps:
      - name: Install gh cli
        run: |
          # https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-raspberry-pi-os-apt
          (type -p wget >/dev/null || (sudo apt update && sudo apt install wget -y)) \
            && sudo mkdir -p -m 755 /etc/apt/keyrings \
            && out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
            && cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
            && sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
            && sudo mkdir -p -m 755 /etc/apt/sources.list.d \
            && echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
            && sudo apt update \
            && sudo apt install gh -y

      - name: Set working directory owner
        run: chown root:root .

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Bundler cache
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gem-

      - name: Setup gems
        run: |
          bundle config --local path vendor/bundle
          bundle config --local deployment true
          bundle config --local without development
          bundle install --jobs 4
          bundle clean

      - name: Maybe cut branch
        id: maybe-cut-branch
        if: github.ref == 'refs/heads/main'
        run: bin/rake release:maybe_cut_branch[${{ inputs.sha || github.sha }}]

      - name: Maybe trigger prepare next version
        if: steps.maybe-cut-branch.outputs.new_branch_name
        run: gh workflow run release-prepare.yml -f new_branch_name=${{ steps.maybe-cut-branch.outputs.new_branch_name }}
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Maybe tag release
        if: startsWith(github.ref, 'refs/heads/release/')
        run: bin/rake release:maybe_tag_release[${{ inputs.sha || github.sha }}]
